# macOS
.DS_Store
.AppleDouble
.Spotlight-V100
.Trashes
._*

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.log

# IntelliJ / JetBrains
.idea/
*.iml
out/

# VS Code (optional)
.vscode/


# Unity
Library/
Temp/
Obj/
Build/
Builds/

.gitignore